.gradle
build/
node_modules/
.env
.vscode
action/*.zip
action/package.json
package-lock.json

# IntelliJ
.idea
*.class
*.iml
out/

# Eclipse
bin/
**/.project
.settings/
.classpath
.cache-main
.cache-tests
